.a11yHidden{
  
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.weather {
  margin: auto;
  margin-top: 30px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.cloudy {
  background: url("../../assets/구름많음.png") no-repeat center,
linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-size: 80%;
}
.sunny {
  background: url("../../assets/맑음.png") no-repeat center,
  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-size: 80%;
}
.rain {
  background: url("../../assets/비.png") no-repeat center,
  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-size: 80%;
}
.snow {
  background: url("../../assets/눈.png") no-repeat center,
  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-size: 80%;
}
.gloomy {
  background: url("../../assets/흐림.png") no-repeat center,
  linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-size: 80%;
}
.infoBox{
  width: 300px;
  padding: 0;
  margin: auto;
  list-style: none;
}
.info{
  margin-top: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(70deg, #fff1eb 0%, #ace0f9 100%);
  height: 40px;
  line-height: 40px;
  /* margin: auto; */
}